<!--The content below is only a placeholder and can be replaced.-->
<div class="body-wrapper">
  <div style="text-align:center">
    <h1>
      Welcome to {{title}}!
    </h1>
  </div>
  <div *ngFor="let issue of issues" class="issue-div">
    <h4><b>{{ issue.title }}</b></h4>
    <p class="issue-body">{{ issue.body }}</p>
    <p>-opened by {{ issue.userLogin }}<span *ngIf="!!issue.assigneeLogin">, assigned to {{ issue.assigneeLogin }}</span> </p>
  </div>
</div>
<div class="pager">
  <div class="pagination">
    <a (click)="decrementPage()" href="#">❮</a>
    <a> Page {{page}} </a>
    <a (click)="incrementPage()" href="#">❯</a>
  </div>
</div>
